html
{
  margin-left:auto;
  margin-right:auto;
  width:60%;
  background-color:#f3f5de
}

.header
{
}

.redactedStatuses
{
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: grey;
}

.statusItem
{
  background-color: white;
  color:black;
  padding: 5px;
  margin: 10px;
  border:1px solid black;
}

